header.title {
    position: fixed;
    top: 0;
    padding: 10px;
    margin-top: px;
    box-shadow: 0 1px 3px rgba(10, 10, 10, 0.1);
    width: 100%;
}

svg.Zi.Zi--LabelSpecial {
    height: 20px;
    right: 8px;
    position: relative;
}

div.voteup {
    box-shadow: 0px 0px 4px 4px antiquewhite;
    padding: 12px;
}

img.content_image.lazy {
    display: none;
}

svg.Icon.ZhihuLogo.ZhihuLogo--blue.Icon--logo {
    fill: #0084ff;
    margin-left: 5px;
    margin-bottom: -4px;
}

img.origin_image.zh-lightbox-thumb {
    box-shadow: 0px 0px 10px powderblue;
}

body.vscode-light, body.vscode-dark {
	padding: 0;
}

body.vscode-dark > .header {
    box-shadow: 3px 0px 6px 3px rgba(255, 252, 252, 0.1);
    /* width: 700px; */
}

body.vscode-dark > .container {
    /* border-style: groove; */
    box-shadow: 0px 0px 6px rgba(253, 250, 250, 0.1);
}

button#favorite, button#share, button#open {
    float: right;
    margin-right: 20px;
    min-width: 0;
    border: none;
    border-style: none;
    font-size: 13px;
    padding: 5px;
    width: 30px;
    height: 30px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    cursor: pointer;
    border-radius: 50%;
}

img.qrcode {
    margin: 0 auto;
    margin-top: 180px;
    box-shadow: 0px 0px 9px rgba(76, 49, 40, 1);
}

.qr-container {
    margin: 0 auto;
    text-align: center;
}

li {
    margin-top: 16px;
}

svg.Zi.Zi--Star.Button-zi {
    vertical-align: bottom;
}

a.internal, a.external {
	text-decoration: none;
    background: hsla(177, 100%, 91%, 0.88);
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0 5px 5px wheat;
}

p {
    font-weight: 500;
    font-size: 16px;
}

.voteup {
    box-shadow: 0px 0px 4px 4px antiquewhite;
    padding: 12px;
}

.profile {
    display: inline-block;
    margin-left: 14px;
}

.author-name {
    font-size: 1.3em;
    font-weight: bolder;
}

.author {
    border-bottom: #99ded8;
    border-bottom-style: double;
    border-bottom-width: 2px;
    padding-bottom: 10px;
    /* border-style: dashed; */
}

img.avatar-img {
    border-radius: 10px;
    width: 60px;
    box-shadow: 0px 0px 5px #95cab6;
}

svg.Zi.Zi--Share.Button-zi {
    fill: #0084ff;
    margin-top: 2px;
}

svg.Zi.Zi--Star.Button-zi {
    vertical-align: bottom;
    fill: #0084ff;
}

svg.Zi.Zi--LabelSpecial {
    fill: #0084ff;
}

div.voteup > button {
    cursor: pointer;
    border-style: none;
    border-radius: 5px;
    background: #0084ff;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.container {
    /* border-style: groove; */
    padding: 25px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    width: 700px;
    margin: 0 auto;
    margin-top: 15px;
}

.header {
    padding: 5px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    /* width: 700px; */
    margin: 0 auto;
    margin-top: 65px;
}

.description {
    width: 900px;
    margin: 0 auto;
}

img.origin_image.zh-lightbox-thumb.lazy {
    display: none;
}