body {
    color: black;
}

header.title {
    background: white;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

svg.Icon.ZhihuLogo.ZhihuLogo--blue.Icon--logo {
    fill: #0084ff;
}

img.origin_image.zh-lightbox-thumb {
    box-shadow: 0px 0px 10px powderblue;
}

body.vscode-light, body.vscode-dark {
	background: #f6f6f6;
}

button#favorite {
    color: white;
    background-color: #ff1493;
}

img.qrcode {
    box-shadow: 0px 0px 9px rgba(76, 49, 40, 1);
}

a.internal, a.external {
    background: hsla(177, 100%, 91%, 0.88);
    box-shadow: 0 5px 5px wheat;
}

h1, h2, h3, p, blockquote {
    /* display: inline; */
    color: black;
    /* padding-bottom: 10px; */
}

p {
    color: black;
}

.container {
    /* border-style: groove; */
    background-color: white;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

.header {
    background-color: white;
}
