doctype html
html
  head
    style
      include global.css
    title= title
  body
    header(class = 'title')
      include header.pug
    div(class = 'header')
      div(class = 'description')
        h1 !{title}
        h2 !{subTitle}
    div(class = 'container')
      each answer in answers
        div !{answer}
    script
      include global.js

