doctype html
html
  head
    style
      include global.css
    title= title
  body
    div(class = 'header')
      include header.pug
    div(class = 'container')
      each answer in answers
        div !{answer}
    script
      include global.js

