doctype html
html
  head
    style
      include global.css
    title= title
  body
    div(class = 'header')
      include header.pug
    div(class = 'container') !{content}
    script
      include global.js

