doctype html
html
  head
    style
      include global.css
      include captcha.css
    title= title
  body
    div(class = 'header')
      include header.pug
    div(class = 'container')
      img(src= captchaSrc, class= 'captcha')