doctype html
html
  head
    include css.pug
    style
      include captcha.css
    title= title
  body
    div(class = 'header')
      include header.pug
    div(class = 'qr-container')
      img(src= qrcodeSrc, class= 'qrcode')