doctype html
html
  head
    if !useVSTheme
      style
        include global.css
    else
      style
        include global_vs.css
    title= title
  body
    div(class = 'header')
      include header.pug
    div(class = 'container')
      each answer in answers
        div !{answer}
    script
      include global.js

