doctype html
html
  head
    include css.pug
  body
    div(class = 'header')
      include header.pug
    div(class = 'container')
      each answer in answers
        div !{answer}
    script
      include js/global.js

